@using SocialSecurityInstitution.BusinessObjectLayer.CommonDtoEntities
@using SocialSecurityInstitution.BusinessObjectLayer.CommonEntities
@using SocialSecurityInstitution.BusinessObjectLayer.Extensions

@model SocialSecurityInstitution.PresentationLayer.Models.Kanal.KanalListViewModel

@{
    int sira = 0;
   
    // var departmanId = Request.Query["departmanId"];
    // var hizmetBinasiId = Request.Query["hizmetBinasiId"];

    bool modelIsEmpty = Model.KanalIslemleri == null || !Model.KanalIslemleri.Any();
}

@section Styles {
    <style>
        .table {
            width: 100%;
            border-collapse: collapse;
        }

        .table th,
        .table td {
            padding: 5px; /* Hücre içeriğinin kenar boşluğu */
            text-align: left;
            white-space: nowrap; /* Metinlerin bir satıra sığması */
            overflow: hidden; /* Taşan içeriklerin gizlenmesi */
            text-overflow: ellipsis; /* Taşan metinlerin üç nokta ile kısaltılması */
        }

        .table th {
            word-wrap: break-word;
            background-color: #f2f2f2; /* Başlık arkaplan rengi */
            font-weight: bold;
        }

        #goButton {
            position: absolute;
            margin-top:2%;
        }
    </style>
}

@section Scripts {
    <script>
        // Selectpicker'ın normalleştirme işlevini belirt
        $('.selectpicker').selectpicker({
            liveSearchNormalize: true,
            liveSearch: true
        });

        $('#goButton').click(function () {
            // Seçili departman ID'sini al
            var selectedDepartmanId = $('#departmanlarSelect').val();
            // Seçili hizmet binası ID'sini al
            var selectedHizmetBinasiId = $('#hizmetBinalariSelect').val();
            // İstenilen URL'e git
            var link = '/Kanal/KanalIslemleriListele?departmanId=' + selectedDepartmanId + '&hizmetBinasiId=' + selectedHizmetBinasiId;
            window.location.href = link;
        });

        $(document).ready(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const departmanId = urlParams.get('departmanId');
            const hizmetBinasiId = urlParams.get('hizmetBinasiId');

            // Departmanlar listesini al ve <select> öğesini doldur
            $.ajax({
                url: '/Departman/ListeleJson',
                type: 'GET',
                success: function (data) {
                    $('#departmanlarSelect').empty();
                    $('#hizmetBinalariSelect').empty();
                    $.each(data, function (index, departman) {
                        if (departman.departmanAktiflik == '1') {
                            $('#departmanlarSelect').append('<option ' + (departmanId > 0 && departmanId == departman.departmanId ? 'selected' : null) + ' data-tokens="' + departman.departmanId + '" value="' + departman.departmanId + '">' + departman.departmanAdi + '</option>');
                        }
                    });

                    // Selectpicker'ı yeniden başlat
                    $('#departmanlarSelect').selectpicker('refresh');

                    $('#hizmetBinalariSelectDiv').show();
                    // İlk departman seçiliyse, ona ait hizmet binalarını getir
                    var firstOptionValue = $('#departmanlarSelect option:first').val();
                    hizmetBinalariGetir(firstOptionValue, true);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    toastr.error('Departmanlar listesi alınamadı.');
                }
            });

            $('#departmanlarSelect').change(function () {
                var selectedDepartmanId = $(this).val();
                hizmetBinalariGetir(selectedDepartmanId);
            });

            function hizmetBinalariGetir(selectedDepartmanId) {
                $('#hizmetBinalariSelect').empty();
                // Hizmet binaları için AJAX çağrısı
                $.ajax({
                    url: '/HizmetBinalari/ListeleJson?departmanId=' + selectedDepartmanId,
                    type: 'GET',
                    success: function (hizmetBinalari) {
                        console.log(hizmetBinalari);
                        $.each(hizmetBinalari, function (index, hizmetBinasi) {
                            $('#hizmetBinalariSelect').append('<option ' + (hizmetBinasiId > 0 && hizmetBinasiId == hizmetBinasi.hizmetBinasiId ? 'selected' : null) + '  value="' + hizmetBinasi.hizmetBinasiId + '">' + hizmetBinasi.hizmetBinasiAdi + '</option>');
                        });

                        // Selectpicker'ı yeniden başlat
                        $('#hizmetBinalariSelect').selectpicker('refresh');
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                        toastr.error('Hizmet binaları listesi alınamadı.');
                    }
                });
            }
        });

        $(document).ready(function () {
            function guncelleSiralama() {
                $('tbody tr').each(function (index) {
                    $(this).find('.sira').text(index + 1);
                });
            }
            $('.remove-button').click(function (event) {
                var button = $(event.relatedTarget);
                var kanalIslemId = $(this).data('bs-whatever');
                var trElement = $(this).closest('tr');
                $.ajax({
                    url: "/Kanal/KanalIslemleriSil",
                    type: "GET",
                    data: { kanalIslemId: kanalIslemId },
                    success: function (result) {
                        console.log(result);
                        if (result.islemDurum == 1) {
                            trElement.remove();
                            guncelleSiralama();
                        }
                        toastr.success(result.mesaj);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                        toastr.error("Kanal Silme İşlemi Başarısız!");
                    }
                });
            });

            $('#modalKanalGuncelle').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var kanalIslemId = button.attr('data-bs-whatever');
                $.ajax({
                    url: "/Kanal/KanalIslemleriGetir",
                    type: "GET",
                    data: { kanalIslemId: kanalIslemId },
                    success: function (result) {
                        console.log(result);
                        $("#modalCenterTitle").text("Kanal Düzenle");
                        $("#modalGuncelleKanalIslemId").val(kanalIslemId);
                        $("#modalGuncelleKanalId").val(result.kanalId);
                        $("#modalGuncelleKanalSayiAralikBaslangic").val(result.baslangicNumara);
                        $("#modalGuncelleKanalSayiAralikBitis").val(result.bitisNumara);
                    },
                    error: function (xhr, status, error) {
                        $("#modalKanalGuncelle").modal("hide");
                        $('#modalKanalGuncelle').on('hidden.bs.modal', function (e) {
                            $('body').removeClass('modal-open');
                            $('.modal-backdrop').remove();
                        });
                        toastr.error(error);
                        console.error(error);
                        alert("aa");
                    }
                });
            });

            $("#btnGuncelle").click(function () {
                var kanalIslemId = $("#modalGuncelleKanalIslemId").val();
                var yeniKanalId = $("#modalGuncelleKanalId").val();
                var yeniKanalSayiAralikBaslangic = $("#modalGuncelleKanalSayiAralikBaslangic").val();
                var yeniKanalSayiAralikBitis = $("#modalGuncelleKanalSayiAralikBitis").val();
                var kanalAdi = $("#modalGuncelleKanalId option:selected").text();

                $.ajax({
                    url: "/Kanal/KanalIslemleriGuncelle",
                    type: "POST",
                    data: {
                        kanalIslemId: kanalIslemId,
                        kanalId: yeniKanalId,
                        kanalSayiAralikBaslangic: yeniKanalSayiAralikBaslangic,
                        kanalSayiAralikBitis: yeniKanalSayiAralikBitis
                    },
                    success: function (result) {
                        toastr.success("Kanal Güncelleme İşlemi Başarılı");
                        $("#kanalAdi_" + kanalIslemId).text(kanalAdi);
                        $("#kanalBaslangicNumara_" + kanalIslemId).text(yeniKanalSayiAralikBaslangic);
                        $("#kanalBitisNumara_" + kanalIslemId).text(yeniKanalSayiAralikBitis);
                        $("#kanalBitisNumara_" + kanalIslemId).text(yeniKanalSayiAralikBitis);
                        $("#kanalDuzenlenmeTarihi_" + kanalIslemId).text((new Date()).toLocaleString());
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                        toastr.error("Kanal Güncelleme İşlemi Başarısız!");
                    }
                });
            });

            $("#btnEkle").click(function () {
                var hizmetBinasiId = $('#hizmetBinalariSelect').val();
                var kanalId = $("#modalEkleKanalId").val();
                var kanalAdi = $("#modalEkleKanalId option:selected").text();
                var kanalSayiAralikBaslangic = $("#modalEkleKanalSayiAralikBaslangic").val();
                var kanalSayiAralikBitis = $("#modalEkleKanalSayiAralikBitis").val();

                $.ajax({
                    url: "/Kanal/KanalIslemleriEkle",
                    type: "POST",
                    data: {
                        hizmetBinasiId: hizmetBinasiId,
                        kanalId: kanalId,
                        kanalSayiAralikBaslangic: kanalSayiAralikBaslangic,
                        kanalSayiAralikBitis: kanalSayiAralikBitis,
                    },
                    success: function (result) {
                        console.log(result);
                        $(".table-responsive").show();
                        toastr.success("Kanal Ekleme İşlemi Başarılı");
                        var sira = $("tbody tr").length + 1;
                        var yeniSatir = '<tr>' +
                            '<td class="sira">' + sira + '</td>' +
                            '<td>' + kanalAdi + '</td>' +
                            '<td>' + result.departmanAdi + '</td>' +
                            '<td>' + result.hizmetBinasiAdi + '</td>' +
                            '<td id="kanalBaslangicNumara_' + result.kanalIslemId + '">' + result.baslangicNumara + '</td>' +
                            '<td id="kanalBitisNumara_' + result.kanalIslemId + '" >' + result.bitisNumara + '</td>' +
                            '<td>' + (new Date()).toLocaleString() + '</td>' +
                            '<td><span class="badge bg-label-success me-1">Aktif</span></td>' +
                            '<td>' +
                            '<div class="dropdown">' +
                            '<button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">' +
                            '<i class="bx bx-dots-vertical-rounded"></i>' +
                            '</button>' +
                            '<div class="dropdown-menu">' +
                            '<a class="dropdown-item edit-button" href="#" data-bs-whatever="' + result.kanalIslemId + '" data-bs-toggle="modal" data-bs-target="#modalKanalGuncelle">' +
                            '<i class="bx bx-edit-alt me-1"></i> <span>Düzenle</span>' +
                            '</a>' +
                            '<a id="activePassiveButton_' + result.kanalIslemId + '" class="dropdown-item active-passive-button" href="#" data-bs-whatever="' + result.kanalIslemId + '">' +
                            '<i class="bx bx-pause-circle me-1"></i> <span>Pasif Et</span>' +
                            '</a>' +
                            '<a class="dropdown-item remove-botton" href="#" data-bs-whatever="' + result.kanalIslemId + '">' +
                            '<i class="bx bx-trash me-1"></i> <span>Sil</span>' +
                            '</a>' +
                            '</div>' +
                            '</div>' +
                            '</td>' +
                            '</tr>';

                        // Yeni satırı tabloya ekledik
                        $("tbody").append(yeniSatir);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                        toastr.error("Kanal Ekleme İşlemi Başarısız!");
                    }
                });
            });

            $('.active-passive-button').click(function (e) {
                e.preventDefault(); // Sayfanın yeniden yüklenmesini önler

                var kanalIslemId = $(this).data('bs-whatever');

                $.ajax({
                    url: "/Kanal/KanalIslemleriAktifPasifEt",
                    type: "GET",
                    data: { kanalIslemId: kanalIslemId },
                    success: function (result) {
                        console.log(result);
                        toastr.success(result.mesaj);
                        if (result.islemDurum == 1) {
                            var badgeClass = result.aktiflikDurum == 'Aktif' ? "bg-label-success" : "bg-label-danger";

                            if (result.aktiflikDurum == 'Aktif') {
                                $("#aktiflik_span_" + kanalIslemId).removeClass("bg-label-danger").addClass(badgeClass).text(result.aktiflikDurum);
                                $('#activePassiveButton_' + kanalIslemId).find('i').removeClass('bx-play-circle').addClass('bx-pause-circle');
                                $('#activePassiveButton_' + kanalIslemId).find('span').text('Pasif Et');
                            } else {
                                $("#aktiflik_span_" + kanalIslemId).removeClass("bg-label-success").addClass(badgeClass).text(result.aktiflikDurum);
                                $('#activePassiveButton_' + kanalIslemId).find('i').removeClass('bx-pause-circle').addClass('bx-play-circle');
                                $('#activePassiveButton_' + kanalIslemId).find('span').text('Aktif Et');
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                        toastr.error(error);
                    }
                });
            });

        });
    </script>
}

<!-- Basic Bootstrap Table -->
<div class="card">
    <div class="card-header flex-column flex-md-row">
        <div class="card">
            <div class="card-header flex-md-row" style="display: flex; align-items: center;">
                <div class="col-sm-4">
                    <label for="departmanlarSelect" class="form-label">Departmanlar</label>
                    <select id="departmanlarSelect" class="selectpicker w-100" data-style="btn-default" data-live-search="true"></select>
                </div>
                <div class="col-sm-4">
                    <label for="hizmetBinalariSelect" class="form-label">Hizmet Binaları</label>
                    <select id="hizmetBinalariSelect" class="selectpicker w-100" data-style="btn-default" data-live-search="true"></select>
                </div>
                <div class="col-sm-1 col-4 d-flex align-items-center justify-content-center">
                    <button id="goButton" class="btn btn-primary btn-sm">Getir</button>
                </div>
            </div>
        </div>



        <div class="dt-action-buttons text-end pt-3 pt-md-0">
            <div class="dt-buttons btn-group flex-wrap">
                <button class="btn buttons-collection dropdown-toggle btn-label-primary me-2" tabindex="0" aria-controls="DataTables_Table_0" type="button" aria-haspopup="dialog" aria-expanded="false"><span><i class="bx bx-export me-sm-1"></i> <span class="d-none d-sm-inline-block">Export</span></span></button>
                <button type="button" class="btn btn-secondary create-new btn-primary" tabindex="0"
                        data-bs-toggle="modal"
                        data-bs-target="#modalKanalEkle">
                    <span>
                        <i class="bx bx-plus me-sm-1"></i>
                        <span class="d-none d-sm-inline-block">Yeni Kanal Ekle</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="table-responsive text-nowrap" style="@(modelIsEmpty ? "display:none;'" : null)">
        <table class="table">
            <thead>
                <tr>
                    <th>Sıra</th>
                    <th>Kanal Adı</th>
                    <th>Deparman Adı</th>
                    <th>Hizmet Binası Adı</th>
                    <th>Başlangıç Numara</th>
                    <th>Bitiş Numara</th>
                    <th>Düzenlenme Tarihi</th>
                    <th>Aktiflik</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var kanal in Model.KanalIslemleri)
                {
                    { sira++; }
                    string badgeClass = kanal.KanalIslemAktiflik == Enums.Aktiflik.Aktif ? "bg-label-success" : "bg-label-danger";
                    string activePassiveLabelClass = kanal.KanalIslemAktiflik == Enums.Aktiflik.Aktif ? "bx-pause-circle" : "bx-play-circle";
                    string activePassiveLabelText = kanal.KanalIslemAktiflik == Enums.Aktiflik.Aktif ? "Pasif Et" : "Aktif Et";
                    <tr>
                        <td class="sira">@sira</td>
                        <td id="kanalAdi_@kanal.KanalIslemId">@kanal.KanalIslemAdi</td>
                        <td id="kanalDepartmanAdi_@kanal.KanalIslemId">@kanal.DepartmanAdi</td>
                        <td id="kanalHizmetBinasiAdi_@kanal.KanalIslemId">@kanal.HizmetBinasiAdi</td>
                        <td id="kanalBaslangicNumara_@kanal.KanalIslemId" style="font-weight:bold">@kanal.BaslangicNumara</td>
                        <td id="kanalBitisNumara_@kanal.KanalIslemId" style="font-weight:bold">@kanal.BitisNumara</td>
                        <td id="kanalDuzenlenmeTarihi_@kanal.KanalIslemId">@kanal.DuzenlenmeTarihi</td>
                        <td><span id="aktiflik_span_@kanal.KanalIslemId" class="badge @badgeClass me-1">@kanal.KanalIslemAktiflik</span></td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item edit-button" href="#" data-bs-whatever="@kanal.KanalIslemId" data-bs-toggle="modal" data-bs-target="#modalKanalGuncelle">
                                        <i class="bx bx-edit-alt me-1"></i> <span>Düzenle</span>
                                    </a>

                                    <a id="activePassiveButton_@kanal.KanalIslemId" class="dropdown-item active-passive-button" href="#" data-bs-whatever="@kanal.KanalIslemId">
                                        <i class="bx @activePassiveLabelClass me-1"></i> <span>@activePassiveLabelText</span>
                                    </a>

                                    <a class="dropdown-item remove-button" href="#" data-bs-whatever="@kanal.KanalIslemId">
                                        <i class="bx bx-trash me-1"></i> <span>Sil</span>
                                    </a>

                                </div>
                            </div>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>

<!--/ Basic Bootstrap Table -->
<!-- Modal -->
<div class="modal fade" id="modalKanalEkle" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Kanal Ekle</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="modalEkleKanalId" class="form-label">Kanal Adı</label>
                        <select id="modalEkleKanalId" class="select2 form-select form-select-lg" data-allow-clear="true">
                            @foreach (var kanal in Model.Kanallar)
                            {
                                <option value="@kanal.KanalId">@kanal.KanalAdi</option>
                            }
                        </select>

                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="sayiAralik" class="form-label">Kanal Sayı Aralığı</label>
                        <div class="input-group">
                            <input type="number" id="modalEkleKanalSayiAralikBaslangic" class="form-control" placeholder="Başlangıç" aria-label="Başlangıç">
                            <span class="input-group-text">-</span>
                            <input type="number" id="modalEkleKanalSayiAralikBitis" class="form-control" placeholder="Bitiş" aria-label="Bitiş">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Kapat
                </button>
                <button type="button" class="btn btn-primary" id="btnEkle">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalKanalGuncelle" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Kanal Düzenle</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="modalGuncelleKanalId" class="form-label">Kanal Adı</label>
                        <select id="modalGuncelleKanalId" class="select2 form-select form-select-lg" data-allow-clear="true">
                            @foreach (var kanal in Model.Kanallar)
                            {
                                <option value="@kanal.KanalId">@kanal.KanalAdi</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="modalGuncelleKanalSayiAralikBaslangic" class="form-label">Kanal Sayı Aralığı</label>
                        <div class="input-group">
                            <input type="number" id="modalGuncelleKanalSayiAralikBaslangic" class="form-control" placeholder="Başlangıç" aria-label="Başlangıç">
                            <span class="input-group-text">-</span>
                            <input type="number" id="modalGuncelleKanalSayiAralikBitis" class="form-control" placeholder="Bitiş" aria-label="Bitiş">
                        </div>
                    </div>
                    <input type="hidden" id="modalGuncelleKanalIslemId" name="kanalIslemId" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Kapat
                </button>
                <button type="button" class="btn btn-primary" id="btnGuncelle">Güncelle</button>
            </div>
        </div>
    </div>
</div>