@using SocialSecurityInstitution.BusinessObjectLayer.CommonDtoEntities
@using SocialSecurityInstitution.BusinessObjectLayer.CommonEntities
@using SocialSecurityInstitution.BusinessObjectLayer.Extensions

@model List<SocialSecurityInstitution.BusinessObjectLayer.CommonDtoEntities.PersonelRequestDto>

@{
    int sira = 0;
}

<!-- DataTable with Buttons -->
@if (Model != null && Model.Count > 0)
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Personeller</h5>
        </div>
        <div class="card-datatable">
            <table id="userTable" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th style="width: 10px;">Sıra</th>
                        <th style="width: 80px;">TC Kimlik No</th>
                        <th style="width: 40px;">Sicil No</th>
                        <th style="width: 100px;">Adı Soyadı</th>
                        <th>Departman</th>
                        <th>Servis</th>
                        <th style="width: 80px;">Dahili</th>
                        <th style="width: 80px;">Aktiflik</th>
                        <th style="width: 40px;">İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var personel in Model)
                    {
                        { sira++; }
                        string badgeClass = personel.PersonelAktiflikDurum == Enums.PersonelAktiflikDurum.Aktif ? "bg-label-success" : personel.PersonelAktiflikDurum == Enums.PersonelAktiflikDurum.Emekli ? "bg-label-warning" : "bg-label-danger";
                        string activePassiveLabelClass = personel.PersonelAktiflikDurum == Enums.PersonelAktiflikDurum.Aktif ? "bx-pause-circle" : "bx-play-circle";
                        string activePassiveLabelText = personel.PersonelAktiflikDurum == Enums.PersonelAktiflikDurum.Aktif ? "Pasif Et" : "Aktif Et";
                        <tr>
                            <td>@sira</td>
                            <td>
                                <a href="#" class="text-body text-truncate" data-bs-toggle="modal" data-bs-target="#onboardHorizontalImageModal">
                                    <span class="fw-medium">@personel.TcKimlikNo</span>
                                </a>
                            </td>
                            <td class="text-truncate">@personel.SicilNo</td>
                            <td class="stack-column personel-adi">
                                <div class="d-flex justify-content-start align-items-center user-name">
                                    <div class="avatar-wrapper">
                                        <div class="avatar me-2 pull-up">
                                            <img src="~/img/avatars/@personel.Resim" alt="Avatar" class="rounded-circle" data-bs-toggle="modal" data-bs-target="#onboardHorizontalImageModal">
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <span class="emp_name text-truncate" data-bs-toggle="modal" data-bs-target="#onboardHorizontalImageModal">@personel.AdSoyad</span>
                                        <small class="emp_post text-truncate text-muted">@personel.UnvanAdi</small>
                                    </div>
                                </div>
                            </td>
                            <td>@personel.DepartmanAdi</td>
                            <td class="text-nowrap">@personel.ServisAdi</td>
                            <td class="text-capitalize">@personel.Dahili</td>
                            <td><span id="aktiflik_span_@personel.TcKimlikNo" class="badge @badgeClass me-1">@personel.PersonelAktiflikDurum</span></td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item edit-button" href="Duzenle?TcKimlikNo=@personel.TcKimlikNo">
                                            <i class="bx bx-edit-alt me-1"></i> <span>Düzenle</span>
                                        </a>

                                        <a id="activePassiveButton_@personel.TcKimlikNo" class="dropdown-item active-passive-button" href="#" data-bs-whatever="@personel.TcKimlikNo">
                                            <i class="bx @activePassiveLabelClass me-1"></i> <span>@activePassiveLabelText</span>
                                        </a>

                                        <a class="dropdown-item remove-button" href="#" data-bs-whatever="@personel.TcKimlikNo">
                                            <i class="bx bx-trash me-1"></i> <span>Sil</span>
                                        </a>

                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="card">
        <p>Personel Listesi Boş!</p>
    </div>
}

<!-- Modal to add new record -->
<div class="offcanvas offcanvas-end" id="add-new-record">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="exampleModalLabel">New Record</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">
        <form class="add-new-record pt-0 row g-2" id="form-add-new-record" onsubmit="return false">
            <div class="col-sm-12">
                <label class="form-label" for="basicFullname">Full Name</label>
                <div class="input-group input-group-merge">
                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                    <input type="text" id="basicFullname" class="form-control dt-full-name" name="basicFullname" placeholder="John Doe" aria-label="John Doe" aria-describedby="basicFullname2" />
                </div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" for="basicPost">Post</label>
                <div class="input-group input-group-merge">
                    <span id="basicPost2" class="input-group-text"><i class='bx bxs-briefcase'></i></span>
                    <input type="text" id="basicPost" name="basicPost" class="form-control dt-post" placeholder="Web Developer" aria-label="Web Developer" aria-describedby="basicPost2" />
                </div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" for="basicEmail">Email</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                    <input type="text" id="basicEmail" name="basicEmail" class="form-control dt-email" placeholder="john.doe@example.com" aria-label="john.doe@example.com" />
                </div>
                <div class="form-text">
                    You can use letters, numbers & periods
                </div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" for="basicDate">Joining Date</label>
                <div class="input-group input-group-merge">
                    <span id="basicDate2" class="input-group-text"><i class='bx bx-calendar'></i></span>
                    <input type="text" class="form-control dt-date" id="basicDate" name="basicDate" aria-describedby="basicDate2" placeholder="MM/DD/YYYY" aria-label="MM/DD/YYYY" />
                </div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" for="basicSalary">Salary</label>
                <div class="input-group input-group-merge">
                    <span id="basicSalary2" class="input-group-text"><i class='bx bx-dollar'></i></span>
                    <input type="number" id="basicSalary" name="basicSalary" class="form-control dt-salary" placeholder="12000" aria-label="12000" aria-describedby="basicSalary2" />
                </div>
            </div>
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary data-submit me-sm-3 me-1">Submit</button>
                <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Cancel</button>
            </div>
        </form>
    </div>
</div>

<div class="modal-onboarding modal fade" style="" id="onboardHorizontalImageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="card">
                <div class="modal-body onboarding-horizontal p-0 d-flex justify-content-center align-items-center">
                    <div class="onboarding-content mb-0 col-sm-6">
                        <div class="col-sm-6 text-center" style="align-items:center;">
                            <h4 class="onboarding-title text-body">Personel Bilgisi</h4>
                            <div class="avatar-wrapper">
                                <div class="image me-2">
                                    <img src="~/img/avatars/410351.jpeg" alt="Avatar" class="img-fluid rounded my-4">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 text-center">
                            <table class="table" style="text-align: left;">
                                <tbody>
                                    <tr>
                                        <td>Sicil:</td>
                                        <td>410351</td>
                                    </tr>
                                    <tr>
                                        <td>Ad Soyad:</td>
                                        <td>
                                            <div class="d-flex justify-content-start align-items-center">
                                                <div class="d-flex flex-column">
                                                    <span class="emp_name text-truncate">Muhammed Bodur</span>
                                                    <small class="emp_post text-truncate text-muted">Mühendis</small>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td>mbodur3@sgk.gov.tr</td>
                                    </tr>
                                    <tr>
                                        <td>Doğum Tarihi:</td>
                                        <td>01-01-1984</td>
                                    </tr>
                                    <tr>
                                        <td>Departman:</td>
                                        <td>İl Müdürlüğü</td>
                                    </tr>
                                    <tr>
                                        <td>Servis:</td>
                                        <td>Bilgi İşlem Servisi</td>
                                    </tr>
                                    <tr>
                                        <td>İşlemler:</td>
                                        <td>
                                            <div class="d-inline-block">
                                                <a href="javascript:;" class="btn btn-sm btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end m-0">
                                                    <a href="javascript:;" class="dropdown-item">Detay</a>
                                                    <a href="javascript:;" class="dropdown-item">Düzenle</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a href="javascript:;" class="dropdown-item text-danger delete-record">Sil</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>